body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 70%;
    margin-top: 100px;
    border-radius: 20px;
    padding: 20px;
    background-color: #8e485c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 25vw;
    border-radius: 50%;
}

.name_container {
    display: flex;
    gap: 10px;
    margin-bottom: -20px;
    font-size: 24px;
    line-height: 48px;
}

.day_time_container {
    display: flex;
    gap: 10px;
    margin-bottom: -25px;
    font-size: 24px;
    line-height: 48px;
}

.track, .project, .repo_link {
    font-size: 16px;
    line-height: 32px;
}

.track {
    margin-bottom: -15px;
}

.project {
    margin-bottom: 20px;
}

.repo_link {
    text-decoration: none;
    color: yellow;
}

@media screen and (min-width: 760px) {
    .main-container {
        width: 50%;
    }        
}